.DropdownSearchComponent {
    position: absolute;
    margin-top: 1vh;
    background-color: var(--primary-black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 30vh;
}

.SearchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.SearchResults li {
    padding: 10px;
    cursor: pointer;
}

.SearchResults li:hover {
}