.Navbar{
    padding: 1.5vh 0;
    background-color: #171718;
    color: #FFFFFF;
    z-index: 1;
}
.Container{
    margin: 0 auto;
    padding: 0 15%;
}
.NavRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1vh;
    row-gap: 5vh;
    flex-wrap: wrap;
}
.NavBrand {
    color: #FFFFFF;
    z-index: 3;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}