.Navbar{
    padding: 1.5vh 15%;
    background-color: #171718;
    z-index: 1;
}

.NavRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.RightContainer {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vh;
}

.Username {
    color: var(--primary-red);
    font-size: 20px;
}

.LeftContainer {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vh;
}
