.films-browser-container {
    padding-left: 12%;
    padding-right: 12%;
    color: whitesmoke;
}

.films-browser-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

.film-browser-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.film-browser-poster {
    display: flex;
    flex-direction: column;
    width: 25vh;
}

.poster-card {
    height: 30vh;
    width: auto;
    border: 1px solid whitesmoke;
    transition: border-color 0.3s ease;
}

.film-browser-poster {
    position: relative;
}

.poster-card:hover {
    border: 2px solid green;
}

.film-poster-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(8vh, 1vh);
    display: flex;
    margin: auto; /* Add this line */
    justify-content: center; /* Change to center */
    align-items: center; /* Add this line */
    column-gap: 10px;
    padding: 5px;
    z-index: 2;
}

.film-browser-info {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.film-browser-title {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    max-width: 20vh; /* Задайте желаемую максимальную ширину */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляет многоточие (...) в конце */
    white-space: nowrap;
    margin-bottom: 1px;
}

.film-browser-title p {
    margin-bottom: 0%; /* Задайте желаемое расстояние между параграфами */
}

.film-browser-title a:hover {
    color: #999999;
}
