.film-info-container{
    padding-left: 10%;
    padding-right: 10%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.film-header {
    background-size: cover;
    height: 60vh;
    position: relative;
    filter: blur(10px);
}


.film-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(300deg, #000000 10.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(60deg, #000000 10.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(0deg, #000000 10.0%, rgba(0, 0, 0, 0) 40.0%);
    z-index: 1;
}

h1{
    margin-top: 4%;
    margin-bottom: 4%;
}

.film-media-container {
    display: flex;
    column-gap: 50px;
}

.player-wrapper {
    height: 300px;
    width: 500px;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.film-poster > img {
    display: flex;
    height: 300px;
    width: 200px;
}
