.films-browser-container{
    padding-left: 12%;
    padding-right: 12%;
    color: whitesmoke;
}

.film-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.film-card {
    border-top: 1px solid #ccc;
    padding-top: 25px;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.film-poster {
    height: 260px;
    width: 200px;
}

.film-poster > img {
    height: 260px;
    width: 200px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.pagination-button:focus {
    outline: none;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-info {
    font-size: 16px;
    color: whitesmoke;
    margin: 0 10px;
}


h2 {
    padding-left: 20px;
}

