
.film-info-container{
    padding-left: 12%;
    padding-right: 12%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.film-header {
    background-size: cover;
    height: 60vh;
    position: relative;
    filter: blur(10px);
}


.film-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(300deg, #000000 7.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(60deg, #000000 7.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 40.0%);
    z-index: 1;
}

.film-media-container {
    display: flex;
    margin-top: 20px;
}

.film-poster {
    width: 25vh;
    z-index: auto;
}

.film-details {
    flex: 1;
    margin-left: 0px;

}

h1 {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 28px;
    font-weight: bold;
}

.film-details p {
    font-size: 20px;
    margin-bottom: 10px;
}

.player-wrapper {
    width: 60%;
    max-width: 800px;
    position: relative;
    margin-top: 40px;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 150% !important;
    height: 100% !important;
}

