.films-browser-container{
    padding-left: 12%;
    padding-right: 12%;
    color: whitesmoke;
}

.films-browser-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.film-browser-card {
    border-top: 1px solid #ccc;
    padding-top: 25px;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.watched {
    height: 5vh;
    width: 5vh;
}

.film-browser-info {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.pagination-button:focus {
    outline: none;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-info {
    font-size: 16px;
    color: whitesmoke;
    margin: 0 10px;
}

.film-browser-poster {
    height: 36vh;
    width: 24vh;
}

.film-browser-poster > img {
    height: 30vh;
    width: 20vh;
}

.film-browser-title a{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.film-browser-title a:hover {
    color: #555555;
}


