.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: auto; */ /* Not necessary */
    /* height: 950px; */ /* Remove fixed height */
    /* filter: blur(8px); */ /* Remove blur filter */
}

.registration-container {
    margin: 50% 40%;
    height: 500px;
    width: 500px;
    background-color: rgba(89, 110, 121, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.head {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    text-align: center;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.registration-input {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: #869BB3;
}
.registration-input:focus{
    background-color: whitesmoke;
}

button {
    padding: 10px;
    background-color: #4caf50;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
