.settings-container {
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-direction: column;
}

.password-container {
    display: flex;
    margin-top: auto;
    padding: 3vh;
    flex-direction: column;
}

.edit-container {
    display: flex;
    flex-direction: column;
    padding-left: 3vh;
    padding-top: 2vh;
    margin: 0.5vh;
}

.button-update {
    border: 2px solid #E4416A;
    background-color: black;
    width: 10vh;
    font-size: 14px;
    border-radius: 1.5vh;
    text-align: center;
}

.button-update:active {
    border-color: #75FBE2;
}

.button-update:hover {
    background-color: #E4416A;
}

.input-text0 {
    border: 2px solid #F1B36E;
    width: 35vh;
    height: 5vh;
    border-radius: 1.5vh;
    color: #74F8F2;
}

.input-text1 {
    border: 2px solid #F1B36E;
    border-radius: 1.5vh;
    color: #74F8F2;
}

.blue-text {
    color: white;
    font-size: 20px;
}

.yellow-text {
    color: #F1B36E;
    font-size: 22px;
}

.white-text {
    color: white;
}

.logo-text {
    color: #E4416A;
}
