.singleReview {
    border: 2px solid var(--primary-yellow);
    border-radius: 5vh;
    margin-top: 3vh;
    display: flex;
    padding: 2vh;
}

.reviewContent {
    margin-left: 2vh;
}

.logoText {
    color: var(--primary-red);
}

.RightBottomContainer {
    display: flex;
    column-gap: 1vh;
    margin-left: auto;
    margin-top: auto;
}