.default {
    height: 300px;
    width: auto;
    border: 1px solid whitesmoke;
    transition: border-color 0.3s ease;
}

.default:hover {
    border: 2px solid green;
}

.rating {
    color: var(--primary-blue);
    font-size: 50px;
    padding: 1vh;
    position: relative;
    display: inline-block;
    font-family: 'Poor Story', serif;
}

